body {
    display: flex;
    justify-content: center;
}

.calculatorBody {
    flex-shrink: 0;
    width: 275px;
    border: solid black 1px;
    background-color: rgb(41, 41, 41);
}

.display {
    font-size: 50px;
    background-color: rgb(222, 222, 222);
    text-align: center;
    margin: 4px;
    border-bottom: solid black 1px;
    min-height: 60px;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
}

button {
    font-size: 50px;
    flex: 0 0 22%;
    border-radius: 8px;
}

.clear {
    flex: 0 0 80%;
    background-color: rgb(255, 172, 141);
}

.num,
.dot,
.equals {
    background-color: bisque;
}



.operator {
    background-color: aqua;
}